.titulo {
    color: #3a86ff;
    font-size: 40px;
    margin-bottom: 0%;
    margin-top: 0%;
}

.titulo i {
    margin-right: 7px;
}

.loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loading i {
    font-size: 2rem;
}

.pin {
    color: red
}